---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ item.value.secretName | regex_replace('[\\\+\*\?\^\$\[\]\(\)\{\}\/\'\#\:\!\=\|]', "-") }}"
  namespace: "{{ namespace['metadata']['name'] }}"
type: Opaque 
data:
{% for key,value in item.value.items() %}
  {{ key }}: "{{ value|b64encode }}"
{% endfor %}
